body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: inline-grid;
    width: 600px;
    height: 600px;
    grid-template-columns:  repeat(4, 1fr);
    gap: 3px;
    color: white;
}
.item {
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(38, 38, 41);
    cursor: pointer;
}
.item:hover {
    background-color: rgb(75, 75, 78);
}
.item12 {
    grid-row: 3 / 5; 
    grid-column: 4 / 5;   
}
.item19 {
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}
.item20 {
    grid-column: 1 / 3 ;
}
